{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

{% if messages %}
        
<div class="messages d-flex justify-content-end ">
    {% for message in messages  %}

        <div class="alert alert-info {{message.tags}} z-3 position-absolute opacity-75" role="alert" id="#alert-message">{{message}}</div>
    
    {% endfor %}
</div>

{% endif %}

<div class="container py-5">
  <!-- Avatar del Usuario -->
  <div class="row justify-content-center mb-4">
      {% thumbnail user.profile.avatar "200x200" crop="center" format="PNG" as thumb %}
      <img src="{{thumb.url}}" alt="Avatar" class="img-fluid rounded-circle shadow-lg" style="width: 150px; height: 150px; object-fit: cover;">
      {% endthumbnail %}
  </div>

  <!-- Información del Usuario -->
  <div class="text-center mb-4">
      <div class="d-flex justify-content-center align-items-center">
          <h1 class="mb-3" style="color: var(--dark-blue);">{{user.first_name}} {{user.last_name}}</h1> 
          {% if request.user.username == user.username %}
              <a href="{% url 'edit-profile' %}" style="color: var(--dark-blue); font-size: 1.5rem; margin-left: 10px;">
                 <i class="bi bi-pen-fill"></i>
              </a>
          {% endif %}
      </div>
      <p class="text-muted">{{user.profile.get_role}}</p>
      <p class="text-muted">{{user.email}}</p>
      <p class="lead" style="color: var(--dark-blue);">{{user.profile.bio}}</p>
  </div>

  <!-- Botones de Acción -->
  {% if request.user.username == user.username %}
  <div class="d-flex justify-content-center mt-4">
      {% if request.user.profile.role == 'S' %}
      <a href="{% url 'users:leave' %}" class="btn btn-danger ms-3" 
         style="border-radius: 20px; padding: 0.75rem 2rem; font-weight: bold; transition: all 0.3s ease;">
         Leave the platform
      </a>
      {% endif %}
  </div>
  {% endif %}
</div>

{% endblock content %}
