{% extends "base.html" %} {% block content %}
{% if messages %}

<div class="messages d-flex justify-content-end ">
    {% for message in messages %}

    <div class="alert alert-success {{message.tags}} z-3 position-absolute opacity-75" role="alert" id="#alert-message">{{message}}</div>

    {% endfor %}
</div>


{% endif %}
<div class="container py-5">
    <h2 class="text-center mb-4">Formulario de Envío</h2>
    
    <form method="post" class="border p-4 rounded shadow-sm">
      {% csrf_token %}
      
      <div class="form-group mb-3">
        {{ form.as_p }}  <!-- Los campos del formulario se muestran como párrafos -->
      </div>
      
      <div class="text-center">
        <input type="submit" value="Enviar" class="btn btn-primary px-4 py-2 mt-3" style="border-radius: 25px; font-weight: bold;">
      </div>
    </form>
  </div>
{% endblock content %}