{% extends "base.html" %}
{% load markdownify %}

{% block content %}
  <div class="container py-5">
    <h1 class="text-center mb-4">{{ lesson.title }}</h1>

    <div class="card shadow-sm mb-4">
      <div class="card-body">
        <p class="card-text">{{ lesson.content|markdownify }}</p>
      </div>
    </div>

    {% if request.user.profile.get_role == 'Teacher' %}
      <div class="d-flex justify-content-end gap-3">
        <a href="{% url 'subjects:edit-lesson' subject.code lesson.pk %}" class="btn btn-warning text-white" id='modf-btn'>
            <i class="bi bi-pencil-square"></i>
        </a>
        <a href="{% url 'subjects:delete-lesson' subject.code lesson.pk %}" class="btn btn-danger" id='modf-btn'>
            <i class="bi bi-trash"></i>
        </a>
      </div>
    {% endif %}
  </div>
{% endblock content %}
