{% extends "base.html" %} 

{% block content %} 

    {% if messages %}
        
        <div class="messages d-flex justify-content-end ">
            {% for message in messages  %}

                <div class="alert alert-success {{message.tags}} z-3 position-absolute opacity-75" role="alert">{{message}}</div>
            
            {% endfor %}
        </div>
    
    
    {% endif %}

    

    {% for subject in subjects %}
        {{subject.name}} 
        <a href="{% url "subjects:subject-detail" subject.code %}">Ir al detalle</a>


    {% empty %}

        <div class="alert d-flex justify-content-between align-items-center mx-auto mt-5" 
        style="max-width: 900px; background-color: var(--yellow); color: var(--dark-blue); padding: 1rem; border-radius: 0.5rem;">
            <div class="d-flex align-items-center">
                <i class="bi bi-exclamation-triangle-fill me-2" style="font-size: 1.5rem;"></i>
                <span class="fw-bold">No te has enrolado en ninguna materia.</span>
            </div>
        
    {% endfor %} 

    
    {% if request.user.profile.get_role == 'Student' %}
    <button  
    class="btn btn-primary" 
            style="background-color: var(--dark-blue); color: white; border: none; border-radius: 20px; padding: 0.5rem 1.5rem; font-weight: bold; transition: all 0.3s ease;">
            
            <a href="{% url 'subjects:enroll-subjects'%}">enroll</a>
    </button>
    <button  
    class="btn btn-primary" 
            style="background-color: var(--dark-blue); color: white; border: none; border-radius: 20px; padding: 0.5rem 1.5rem; font-weight: bold; transition: all 0.3s ease;">
            
            <a href="{% url 'subjects:unenroll-subjects'%}">unenroll</a>
    </button>
    {% endif %}


{% endblock content %}
