{% extends "base.html" %}
{% load markdownify %}
{% block content %}
  
  {% if messages %}
    <div class="messages d-flex justify-content-end mb-4" style="z-index: 1050;">
      {% for message in messages %}
        <div class="alert alert-success {{message.tags}} z-3 position-absolute opacity-75" role="alert" style="max-width: 80%; font-size: 1.1rem;" id="#alert-message">
          {{message}}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  
  <h1 class="text-center my-4" style="font-size: 2.5rem; color: #2c3e50;">{{subject.name}}</h1>
  
  <div class="lesson-list mb-4">
    {% for lesson in lessons %}
      <div class="lesson-item mb-3">
        <h4 class="lesson-title" style="font-size: 1.5rem; color: #2c3e50;">
          <a href="{% url 'subjects:lesson-detail' subject.code lesson.pk %}" class="text-decoration-none text-dark">{{lesson.title}} <i class="bi bi-plus"></i>
          </a>
        </h4>
        <p class="lesson-content" style="font-size: 1rem; color: #7f8c8d;">{{lesson.content|markdownify}}</p>

        {% if request.user.profile.get_role == 'Teacher' %}
          <div class="lesson-actions mt-3">
            <a href="{% url 'subjects:edit-lesson' subject.code lesson.pk %}" class="btn btn-warning btn-sm me-2"><i class="bi bi-pencil-square"></i></a>
            <a href="{% url 'subjects:delete-lesson' subject.code lesson.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if request.user.profile.get_role == 'Teacher' %}
  <div class="d-flex justify-content-end mt-4">
    <a href="{% url 'subjects:add-lesson' subject.code %}" class="btn btn-primary" style="background-color: #2c3e50; color: white; padding: 0.5rem 1.5rem; border-radius: 20px; font-weight: bold; border-style: none;">
      Add more lessons
    </a>
    <a href="{% url 'subjects:mark-list' subject.code %}" class="btn btn-primary ms-3" style="background-color: #f39c12; color: white; padding: 0.5rem 1.5rem; border-radius: 20px; font-weight: bold; border-style: none;">
      View grades
    </a>
  </div>
  {% endif %}

  {% if mark %}
    <div class="alert alert-info mt-4 text-center" role="alert" style="background-color: #3498db; color: white; font-size: 1.2rem;">
      Your mark for this subject: {{mark}}
    </div>
  {% endif %}

{% endblock content %}
