<div class="container-fluid p-0 d-flex h-100">
  <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3  text-white" style="width: 250px;">
      <a href="#" class="navbar-brand text-white">Menú</a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
              <a href="{% url "subjects:subject-list" %}" class="nav-link text-white">
                  <i class="fa-solid fa-home"></i> Inicio
              </a>
          </li>
          <li>
              <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-white">
                  <i class="fa-solid fa-cog"></i> Tus cursos
              </a>
              <ul class="collapse" id="submenu1">
                {% for subject in subjects %}
                  <li>
                      <a href="{% url "subjects:subject-detail" subject.code %}" class="nav-link text-white ms-3">{{subject.name}}</a>
                  </li>
                {% endfor %}
              </ul>
          </li>
          <li>
              <a href="#" class="nav-link text-white">
                  <i class="fa-solid fa-info-circle"></i> Acerca de
              </a>
          </li>
          <li>
              <a href="#" class="nav-link text-white">
                  <i class="fa-solid fa-sign-out-alt"></i> Salir
              </a>
          </li>
      </ul>
  </div>

</div>
