:root {
  --purple: #6443d9;
  --light-purple: #d8d0f2;
  --dark-blue: #1b3c59;
  --yellow: #f2c53d;
  --light-gray: #f2f2f2;
  --light-red: #f8a5c2;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
}

.main-container {
  display: grid;
  grid-template-areas: "sidebar main right";
  flex: 1;
  padding: 10px;
  grid-template-columns: 200px 1fr 180px;
  grid-template-rows: auto;
  gap: 100px;
  transition: all 0.3s ease;
}

sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}

.main-container.full {
  grid-template-areas: "left main right";
  grid-template-columns: 200px 1fr 200px;
}

.navbar {
  background-color: var(--purple);
}

.navbar-brand,
.nav-link {
  color: white;
}

.card {
  border: none;
  border-radius: 10px;
}

.btn-yellow {
  background-color: var(--yellow);
  border: none;
  color: white;
}

.btn-yellow:hover {
  background-color: #d4a728;
}

.btn-outline-purple {
  color: var(--purple);
  border: 2px solid var(--purple);
}

.btn-outline-purple:hover {
  background-color: var(--purple);
  color: white;
}

.icon {
  font-size: 50px;
  color: var(--purple);
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  background: #1b3c59;
  color: #f2f2f2;
  padding: 40px 0;
}

.footer h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer a {
  color: #f2f2f2;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #f2c53d;
}

.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  transition: transform 0.3s;
  color: #f2f2f2;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #f2c53d;
}

.hero-section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  text-align: center;
  overflow: hidden;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  animation: fadeInDown 1.5s ease-out;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: var(--light-purple);
  animation: fadeInUp 1.5s ease-out;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.btn-custom {
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-login {
  background-color: var(--dark-blue);
  color: white;
}

.btn-login:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(27, 60, 89, 0.2);
}

.btn-signup {
  background-color: var(--yellow);
  color: var(--dark-blue);
}

.btn-signup:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(242, 197, 61, 0.2);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signup {
  text-decoration: none;
  color: var(--dark-blue);
}

.btn-primary:hover {
  background-color: var(--light-purple);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-btn-outline {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  border-bottom: 5px solid black;
}

.custom-btn-outline:hover {
  background-color: #000;
  color: #fff;
}

.custom-btn-filled {
  background-color: #ffc107;
  /* Color de fondo */
  border: 2px solid #ffc107;
  /* Borde del mismo color */
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.custom-btn-filled:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

/* From Uiverse.io by devkatyall */
/* The design is inspired from Galahhad*/

.popup {
  --burger-line-width: 1.125em;
  --burger-line-height: 0.125em;
  --burger-offset: 0.625em;
  --burger-bg: var(--yellow);
  --burger-color: #333;
  --burger-line-border-radius: 0.1875em;
  --burger-diameter: 2.125em;
  --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
  --burger-line-transition: 0.3s;
  --burger-transition: all 0.1s ease-in-out;
  --burger-hover-scale: 1.1;
  --burger-active-scale: 0.95;
  --burger-enable-outline-color: var(--burger-bg);
  --burger-enable-outline-width: 0.125em;
  --burger-enable-outline-offset: var(--burger-enable-outline-width);
  /* nav */
  --nav-padding-x: 0.25em;
  --nav-padding-y: 0.625em;
  --nav-border-radius: 0.375em;
  --nav-border-color: #ccc;
  --nav-border-width: 0.0625em;
  --nav-shadow-color: rgba(0, 0, 0, 0.2);
  --nav-shadow-width: 0 1px 5px;
  --nav-bg: #eee;
  --nav-font-family: "Poppins", sans-serif;
  --nav-default-scale: 0.8;
  --nav-active-scale: 1;
  --nav-position-left: 0;
  --nav-position-right: unset;
  /* if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
  /* title */
  --nav-title-size: 0.625em;
  --nav-title-color: #777;
  --nav-title-padding-x: 1rem;
  --nav-title-padding-y: 0.25em;
  /* nav button */
  --nav-button-padding-x: 1rem;
  --nav-button-padding-y: 0.375em;
  --nav-button-border-radius: 0.375em;
  --nav-button-font-size: 17px;
  --nav-button-hover-bg: var(--yellow);
  --nav-button-hover-text-color: #fff;
  --nav-button-distance: 0.875em;
  /* underline */
  --underline-border-width: 0.0625em;
  --underline-border-color: #ccc;
  --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
  display: inline-block;
  text-rendering: optimizeLegibility;
  position: relative;
}

.popup input {
  display: none;
}

.burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--yellow);
  width: var(--burger-diameter);
  height: var(--burger-diameter);
  border-radius: var(--burger-btn-border-radius);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--burger-transition);
  outline: var(--burger-enable-outline-width) solid transparent;
  outline-offset: 0;
}

.popup-window {
  position: absolute;
  z-index: 1050;
  transform: scale(var(--nav-default-scale));
  visibility: hidden;
  opacity: 0;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  background: var(--nav-bg);
  font-family: var(--nav-font-family);
  color: var(--nav-text-color);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
  border: var(--nav-border-width) solid var(--nav-border-color);
  top: calc(
    var(--burger-diameter) + var(--burger-enable-outline-width) +
      var(--burger-enable-outline-offset)
  );
  left: var(--nav-position-left);
  right: var(--nav-position-right);
  transition: var(--burger-transition);
  margin-top: 10px;
  z-index: 9999;
}

.popup-window legend {
  padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
  margin: 0;
  color: var(--nav-title-color);
  font-size: var(--nav-title-size);
  text-transform: uppercase;
}

.popup-window ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-window ul button {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--burger-color);
  font-size: var(--nav-button-font-size);
  padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
  white-space: nowrap;
  border-radius: var(--nav-button-border-radius);
  cursor: pointer;
  column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
  color: var(--yellow);
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
  color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
  color: red;
}

.popup-window hr {
  margin: var(--underline-margin-y) 0;
  border: none;
  border-bottom: var(--underline-border-width) solid
    var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
  color: var(--nav-button-hover-text-color);
  background: var(--nav-button-hover-bg);
}

.burger:hover {
  transform: scale(var(--burger-hover-scale));
}

.burger:active {
  transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
  outline-color: var(--burger-enable-outline-color);
  outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked + .burger span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popup input:checked + .burger span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.popup input:checked + .burger span:nth-child(3) {
  transform: translateX(
    calc(var(--burger-diameter) * -1 - var(--burger-line-width))
  );
}

.popup input:checked ~ nav {
  transform: scale(var(--nav-active-scale));
  visibility: visible;
  opacity: 1;
}

#sidebar {
  background-color: var(--dark-blue);
}

#sidebar .nav-link:hover {
  background-color: #495057;
}

.toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 15px;
  background: var(--purple);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

@media (max-width: 1300px) {
  .main-container {
    grid-template-areas: "main";
    grid-template-columns: 1fr;
  }
  .toggle-btn {
    display: none;
  }
  sidebar {
    display: none;
  }
}

#alert-message {
  transition: opacity 0.5s ease;
}
