{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'shared/style.css' %}">
  <title>Lumino</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="main-container">
    
    
    <main>
  
        {% block content %}

          



        {% endblock content %}

    </main>
    <sidebar>{% include "componets/sidebar.html" %}</sidebar>
    <a href="{% url 'setlang' 'en' %}?next={{ request.path }}">🇺🇸</a>
    <a href="{% url 'setlang' 'es' %}?next={{ request.path }}">🇪🇸</a>
  </div>

  {% include "footer.html" %}
  <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>