{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'shared/style.css' %}">
  <title>Lumino</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="main-container {% if not request.user.is_authenticated %}full{% endif %}" id='mainContainer'>
    
    
    <main>
  
        {% block content %}

          



        {% endblock content %}

    </main>
    {% if request.user.is_authenticated %}
      <button class="toggle-btn" id="toggleButton">Toggle Sidebar</button>
      <sidebar id='sidebar'>{% include "componets/sidebar.html" %}</sidebar>
    {% endif %}

    
  </div>

  {% include "footer.html" %}
  <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static "shared/main.js" %}"></script>
</body>
</html>