<footer class="footer text-center text-lg-start">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
              <h5>Sobre Nosotros</h5>
              <p>Somos una plataforma dedicada a ofrecer una experiencia de aprendizaje completa y accesible, donde los estudiantes pueden explorar diversas asignaturas, acceder a lecciones interactivas y avanzar a su propio ritmo.</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <h5>Enlaces Rápidos</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Servicios</a></li>
                  <li><a href="#">Proyectos</a></li>
                  <li><a href="#">Contacto</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
              <h5>Conéctate con Nosotros</h5>
              <div class="social-icons">
                  <a href="#" class="fab fa-facebook-f"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="fab fa-twitter"><i class="bi bi-twitter-x"></i></a>
                  <a href="#" class="fab fa-instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="fab fa-linkedin-in"><i class="bi bi-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
  <div class="text-center p-3">
      © 2024 Lumino. Todos los derechos reservados.
  </div>
</footer>