<footer class="footer text-center text-lg-start">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
              <h5>Sobre Nosotros</h5>
              <p>Somos una empresa dedicada a crear experiencias únicas e inolvidables. Nuestro objetivo es superar tus expectativas en cada proyecto.</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <h5>Enlaces Rápidos</h5>
              <ul class="list-unstyled">
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Servicios</a></li>
                  <li><a href="#">Proyectos</a></li>
                  <li><a href="#">Contacto</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
              <h5>Conéctate con Nosotros</h5>
              <div class="social-icons">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-instagram"></a>
                  <a href="#" class="fab fa-linkedin-in"></a>
              </div>
          </div>
      </div>
  </div>
  <div class="text-center p-3">
      © 2023 Mi Empresa. Todos los derechos reservados.
  </div>
</footer>