{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
        
<div class="messages d-flex justify-content-end ">
    {% for message in messages  %}

        <div class="alert alert-info {{message.tags}} z-3 position-absolute opacity-75" role="alert">{{message}}</div>
    
    {% endfor %}
</div>


{% endif %}



<div class="hero-section">
  <h1 class="hero-title">Bienvenido a Lumino</h1>
  <p class="hero-subtitle">Descubre la forma más fácil de aprender</p>
  <div class="btn-container">
    <button class="btn btn-custom btn-login "> <a href={% url "login" %}
        class='text-decoration-none text-light'>Login</a></button>
    <button class="btn btn-custom btn-signup"> <a href={% url "signup" %} class='signup'>Signup</a></button>
  </div>
</div>

<section class="features-section">
  <h2 class="section-title">Características</h2>
  <div class="features-container">
      <div class="feature">
          <h3>Clases Interactivas</h3>
          <p>Participa en clases en vivo con profesores expertos y otros estudiantes.</p>
      </div>
      <div class="feature">
          <h3>Material de Estudio</h3>
          <p>Accede a una amplia variedad de recursos y materiales de estudio.</p>
      </div>
      <div class="feature">
          <h3>Comunidad de Aprendizaje</h3>
          <p>Únete a foros y grupos de estudio para compartir conocimientos.</p>
      </div>
  </div>
</section>

<section id="why-choose" class="why-choose-section">
                <h2 class="section-title">¿Por qué elegir Lumino?</h2>
                <div class="why-choose-container">
                    <div class="reason">
                        <h3>Flexibilidad</h3>
                        <p>Estudia a tu propio ritmo y desde cualquier lugar.</p>
                    </div>
                    <div class="reason">
                        <h3>Calidad Educativa</h3>
                        <p>Accede a cursos diseñados por expertos en la materia.</p>
                    </div>
                    <div class="reason">
                        <h3>Soporte Continuo</h3>
                        <p>Recibe asistencia y orientación de nuestros tutores en todo momento.</p>
                    </div>
                </div>
            </section>

<section class="contact-section">
  <h2 class="section-title">Contacto</h2>
  <p>Si tienes alguna pregunta, no dudes en contactarnos.</p>
  <form class="contact-form">
      <input type="text" placeholder="Tu nombre" required>
      <input type="email" placeholder="Tu correo electrónico" required>
      <textarea placeholder="Tu mensaje" required></textarea>
      <button type="submit" class="btn btn-custom">Enviar</button>
  </form>
</section>


{% endblock content %}