{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
        
<div class="messages d-flex justify-content-end ">
    {% for message in messages  %}

        <div class="alert alert-info {{message.tags}} z-3 position-absolute opacity-75" role="alert">{{message}}</div>
    
    {% endfor %}
</div>


{% endif %}



<div class="hero-section">
  <h1 class="hero-title">Bienvenido a Lumino</h1>
  <p class="hero-subtitle">Descubre la forma más fácil de aprender</p>
  <div class="btn-container">
    <button class="btn btn-custom btn-login "> <a href={% url "login" %}
        class='text-decoration-none text-light'>Login</a></button>
    <button class="btn btn-custom btn-signup"> <a href={% url "signup" %} class='signup'>Signup</a></button>
  </div>
</div>


{% endblock content %}