{% extends "base.html" %}
{% load static %}

{% block content %}

{% if messages %}
        
<div class="messages d-flex justify-content-end ">
    {% for message in messages  %}

        <div class="alert alert-info {{message.tags}} z-3 position-absolute opacity-75" role="alert">{{message}}</div>
    
    {% endfor %}
</div>

{% endif %}

<div class="hero-section">
    <h1 style="font-size: 2.5rem; color: #F2C53D;"><i class="bi bi-lightbulb-fill"></i></h1>
  <h1 class="hero-title">Welcome to Lumino</h1>
  <p class="hero-subtitle">Discover the easiest way to learn</p>
  <div class="btn-container">
    <button class="btn btn-custom btn-login "> <a href={% url "login" %}
        class='text-decoration-none text-light'>Login</a></button>
    <button class="btn btn-custom btn-signup"> <a href={% url "signup" %} class='signup'>Signup</a></button>
  </div>
</div>

<section class="features-section">
    <h2 class="section-title" style="color: #1b3c59;">Features</h2>
    <div class="features-container">
        <div class="feature" style="color: #1b3c59;">
            <h3>Interactive Classes</h3>
            <p>Participate in live classes with expert teachers and other students.</p>
        </div>
        <div class="feature" style="color: #1b3c59;">
            <h3>Study Materials</h3>
            <p>Access a wide variety of resources and study materials.</p>
        </div>
        <div class="feature" style="color: #1b3c59;">
            <h3>Learning Community</h3>
            <p>Join forums and study groups to share knowledge.</p>
        </div>
    </div>
</section>
  
<section id="why-choose" class="why-choose-section">
    <h2 class="section-title" style="color: #1b3c59;">Why Choose Lumino?</h2>
    <div class="why-choose-container">
        <div class="reason" style="background-color: #F2C53D; color: #1b3c59;">
            <h3>Flexibility</h3>
            <p>Study at your own pace and from anywhere.</p>
        </div>
        <div class="reason" style="background-color: #72C1F2; color: #1b3c59;">
            <h3>Educational Quality</h3>
            <p>Access courses designed by subject matter experts.</p>
        </div>
        <div class="reason" style="background-color: #F28585; color: #1b3c59;">
            <h3>Continuous Support</h3>
            <p>Receive assistance and guidance from our tutors at all times.</p>
        </div>
    </div>
</section>
  
<section class="contact-section">
    <h2 class="section-title">Contact</h2>
    <p>If you have any questions, don't hesitate to contact us.</p>
    <form class="contact-form">
        <input type="text" placeholder="Your name" required>
        <input type="email" placeholder="Your email" required>
        <textarea placeholder="Your message" required></textarea>
        <button type="submit" class="btn btn-custom w-auto" style="background-color: #F2C53D;">Send</button>

    </form>
</section>

{% endblock content %}
